<mat-toolbar  style ="background:blue">
<mat-toolbar-row>
        <a  class ="gap" [routerLink]="'/EventsdayUser'" mat-button>EventDAy</a>
        
    <a class ="gap" [routerLink]="''" mat-button>EventsInfo</a>
    <a class = "gap" [routerLink]="''"mat-button> MCQDos</a>
    <a class = "gap" [routerLink]="''"mat-button> MCQDonts</a>
    <a class ="endicon" [routerLink]="''" mat-button> signOut</a>
    </mat-toolbar-row>
</mat-toolbar>
<br>
<br>
<br>
<br>

<div class ="container">
   <div class="container">
       <h4>select the event</h4>
   </div>
   
    <select name="events" size="5">  
        <option value="events1"> events1 </option>  
        <option value="events2"> events2 </option>  
        <option value="events3"> events3 </option>  
        <option value="events4"> events4 </option>  
        <option value="events5"> events5 </option>  
        <option value="events6"> events6 </option>  
    </select>  
</div>
<br>
<br>

<div class ="container">
    <div class="container">
        <h4>select your skills</h4>
    </div>
    <select name="skills" size="5">  
        <option value="events1"> java </option>  
        <option value="events2"> css </option>  
        <option value="events3"> html </option>  
        <option value="events4"> angular </option>  
        <option value="events5"> react </option>  
        <option value="events6"> javascript </option>  
    </select>  
</div>

<br>
<br>
<div class ="container">
    <button  class="button btn btn-primary">Nominate</button> 
</div>


